{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Instagram</title>
  {% endif %}
  <link rel="shortcut icon" href="/static/img/IG-logo.png" type="image/png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  {% block styles %}

  {% bootstrap_css %}

  {% endblock %}

</head>
<body >
  {% include "main/navbar.html" %}
  {% block content %}


  {% endblock %}


  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% bootstrap_javascript jquery='full' %}

  {% endblock %}
  
</body>
</html>