{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
{% load static %}

<style>
  .border{
    border-style: solid;
    border-color: lightgray;
    border-left: none;
    border-radius: 5px;
    border-width: thin;
  }
  li{
    display: none;
  }
  #flex{
    display: flex;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 border">
      <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="" class="border-bottom mb-4 text-center" style="margin-left: 35%;margin-top: 5px;">
            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt=""> </label> <br> 
            <h6 class="text-center">Sign up to see photos and videos from your friends.</h6>
            <div class="form-group" >
              <button class="btn btn-info"  style="padding: 3px 5px; font-size: 20px; border-radius: 5px; border-width: thin; width: 100%;" type="">
                <i><img src="https://img.icons8.com/color/48/000000/facebook.png"/></i> Log in With Facebook</button>
            </div>
          {{form|crispy}}
        </fieldset>
        <div class="form-group" >
          <button class="btn btn-info" style="padding: 3px 5px; font-size: 20px; border-radius: 5px; border-width: thin; width: 100%;" type="submit">Sign Up</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">Already have an account ? <a href="{% url 'login' %}" class="ml-2">login</a></small>
      </div>
      <div class="border-top pt-3 text-center">
        <p>
          Get this App
        </p>
        <div id="flex" class="pl-2 pt-3 mt-3">
          <img src="{% static 'img/insta1.png' %}" alt="" height="50" width="180" >
          <img src="{% static 'img/insta2.png' %}" alt=""  height="50">
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}